Repository GreenBlitz/2024-Offseason-robot, pull requests merged in 2024-10, with the labels that each got.

#5 Delete Factories -> core
  gradlew
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
Labels: needs-robot-testing, needs-simulation-testing, A-MEDIUM-PR

#16 Merge core
  src/main/java/frc/robot/hardware/motor/sparkmax/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/request/cansparkmax/SparkMaxAngleRequest.java
Labels: needs-robot-testing, needs-simulation-testing, A-SMALL-PR

#17 Yotam- state machine guide
  README.md
  src/main/java/frc/robot/hardware/motor/sparkmax/BrushlessSparkMAXMotor.java
  src/main/java/frc/robot/hardware/request/cansparkmax/SparkMaxAngleRequest.java
Labels: needs-robot-testing, needs-simulation-testing, A-SMALL-PR

#19 Merge core
  src/main/java/frc/robot/subsystems/GBSubsystem.java
  src/main/java/frc/robot/subsystems/swerve/Swerve.java
  src/main/java/frc/utils/calibration/swervecalibration/WheelRadiusCharacterization.java
  src/main/java/frc/utils/calibration/sysid/SysIdCalibrator.java
  src/main/java/frc/utils/utilcommands/LoggedDashboardCommand.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#20 Swerve Superstructure -> states-dev
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: STATE, needs-robot-testing, needs-simulation-testing, A-MEDIUM-PR, PASSED ALL TESTS

#7 Funnel -> subsystems-dev
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/funnel/Funnel.java
  src/main/java/frc/robot/subsystems/funnel/FunnelCommandsBuilder.java
  src/main/java/frc/robot/subsystems/funnel/FunnelConstants.java
  src/main/java/frc/robot/subsystems/funnel/FunnelStuff.java
  src/main/java/frc/robot/subsystems/funnel/factory/FunnelFactory.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
Labels: SUBSYSTEM, A-SMALL-PR, PASSED ALL TESTS

#22 Swerve superstructure
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/GyroFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/gyro/RealGyroConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/ModulesFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/ModuleConstantsFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/constants/RealModuleConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/SwerveConstantsFactory.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: needs-robot-testing, needs-simulation-testing, A-MEDIUM-PR

#21 Funnel state -> subsystems-dev
  src/main/java/frc/robot/subsystems/funnel/FunnelState.java
  src/main/java/frc/robot/subsystems/funnel/FunnelStateHandler.java
  src/main/java/frc/robot/subsystems/funnel/calibrations
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: STATE, A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#10 Intake roller -> subsystems-dev
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/intake/Calibrations
  src/main/java/frc/robot/subsystems/intake/IntakeRoller.java
  src/main/java/frc/robot/subsystems/intake/IntakeRollerCommandsBuilder.java
  src/main/java/frc/robot/subsystems/intake/IntakeRollerConstant.java
  src/main/java/frc/robot/subsystems/intake/IntakeRollerStuff.java
  src/main/java/frc/robot/subsystems/intake/factory/IntakeRollerFactory.java
  src/main/java/frc/robot/subsystems/intake/factory/IntakeRollerRealConstant.java
Labels: SUBSYSTEM, A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#25 refactor-intake -> subsystems-dev
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/intake/roller/Calibrations
  src/main/java/frc/robot/subsystems/intake/roller/IntakeRoller.java
  src/main/java/frc/robot/subsystems/intake/roller/IntakeRollerCommandsBuilder.java
  src/main/java/frc/robot/subsystems/intake/roller/IntakeRollerConstant.java
  src/main/java/frc/robot/subsystems/intake/roller/IntakeRollerStuff.java
  src/main/java/frc/robot/subsystems/intake/roller/factory/IntakeRollerFactory.java
  src/main/java/frc/robot/subsystems/intake/roller/factory/IntakeRollerRealConstant.java
Labels: A-SMALL-PR, PASSED ALL TESTS

#15 elevator-roller -> subsystems-dev
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/hardware/motor/talonsrx/TalonSRXMotor.java
  src/main/java/frc/robot/hardware/request/srx/AngleSRXRequest.java
  src/main/java/frc/robot/hardware/request/srx/DoubleSRXRequest.java
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRoller.java
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRollerCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRollerStuff.java
  src/main/java/frc/robot/subsystems/elevatorRoller/calibarations
  src/main/java/frc/robot/subsystems/elevatorRoller/factory/ElevatorRollerConstants.java
  src/main/java/frc/robot/subsystems/elevatorRoller/factory/ElevatorRollerFactory.java
  src/main/java/frc/robot/subsystems/elevatorRoller/factory/RealElevatorRollerConstants.java
Labels: SUBSYSTEM, A-SMALL-PR, needs-robot-testing, needs-simulation-testing, PASSED ALL TESTS

#27 Elevator roller states -> subsystems-dev
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRollerState.java
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRollerStateHandler.java
  src/main/java/frc/robot/subsystems/elevatorRoller/calibarations
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#11 Flywheel -> subsystems-dev
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/flywheel/Calibrations
  src/main/java/frc/robot/subsystems/flywheel/Flywheel.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelCommandsBuilder.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelConstants.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelState.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelStateHandler.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelStuff.java
  src/main/java/frc/robot/subsystems/flywheel/factory/FlywheelFactory.java
  src/main/java/frc/robot/subsystems/flywheel/factory/RealFlywheelConstants.java
  src/main/java/frc/robot/subsystems/funnel/FunnelCommandsBuilder.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: SUBSYSTEM, A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#23 Pivot -> subsystems-dev
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/intake/pivot/Calibrations
  src/main/java/frc/robot/subsystems/intake/pivot/Pivot.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotCommandsBuilder.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotConstants.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotStateHandler.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotStuff.java
  src/main/java/frc/robot/subsystems/intake/pivot/factory/PivotFactory.java
  src/main/java/frc/robot/subsystems/intake/pivot/factory/RealPivotConstants.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: SUBSYSTEM, A-SMALL-PR, PASSED ALL TESTS

#8 elevator's subsystem ⟿ subsystems development
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorMotorStuff.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStates.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStatesHandler.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStuff.java
  src/main/java/frc/robot/subsystems/elevator/calibrations.md
  src/main/java/frc/robot/subsystems/elevator/factories/ElevatorFactory.java
  src/main/java/frc/robot/subsystems/elevator/factories/RealElevatorConstants.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: SUBSYSTEM, needs-robot-testing, needs-simulation-testing, A-MEDIUM-PR

#34 Intake roller calib
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/intake/roller/Calibrations
  src/main/java/frc/robot/subsystems/intake/roller/IntakeRollerCommandsBuilder.java
  src/main/java/frc/robot/subsystems/intake/roller/IntakeRollerConstant.java
  src/main/java/frc/robot/subsystems/intake/roller/IntakeStates.java
  src/main/java/frc/robot/subsystems/intake/roller/factory/IntakeRollerRealConstant.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#35 Flywheel calib
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/flywheel/factory/RealFlywheelConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#36 Pivot calib
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/intake/pivot/Calibrations
  src/main/java/frc/robot/subsystems/intake/pivot/Pivot.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotCommandsBuilder.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotConstants.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotStuff.java
  src/main/java/frc/robot/subsystems/intake/pivot/factory/RealPivotConstants.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#37 Elevator calibrations
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/elevator/Elevator.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStates.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStuff.java
  src/main/java/frc/robot/subsystems/elevator/calibrations.md
  src/main/java/frc/robot/subsystems/elevator/factories/RealElevatorConstants.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#33 Elevator Roller calib
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRollerCommandsBuilder.java
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRollerConstants.java
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRollerState.java
  src/main/java/frc/robot/subsystems/elevatorRoller/calibarations
  src/main/java/frc/robot/subsystems/elevatorRoller/factory/RealElevatorRollerConstants.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#38 f
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorConstants.java
  src/main/java/frc/robot/subsystems/elevator/ElevatorStates.java
  src/main/java/frc/robot/subsystems/elevatorRoller/ElevatorRollerStateHandler.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelStateHandler.java
  src/main/java/frc/robot/subsystems/funnel/FunnelStateHandler.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotConstants.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/intake/roller/IntakeStates.java
  src/main/java/frc/robot/superstructure/Superstructure.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#41 Merge pose
  src/main/java/frc/robot/poseestimator/GBPoseEstimator.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#40 Swerve calib
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
  src/main/java/frc/robot/subsystems/intake/pivot/Pivot.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/intake/roller/IntakeStates.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/vision/limelights/LimeLightConstants.java
  src/main/java/frc/utils/alerts/Alert.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing

#39 Superstructure
  src/main/java/frc/robot/JoysticksBindings.java
  src/main/java/frc/robot/Robot.java
  src/main/java/frc/robot/RobotManager.java
  src/main/java/frc/robot/constants/IDs.java
  src/main/java/frc/robot/subsystems/flywheel/FlywheelState.java
  src/main/java/frc/robot/subsystems/funnel/factory/RealFunnelConstants.java
  src/main/java/frc/robot/subsystems/intake/pivot/Pivot.java
  src/main/java/frc/robot/subsystems/intake/pivot/PivotState.java
  src/main/java/frc/robot/subsystems/intake/roller/IntakeStates.java
  src/main/java/frc/robot/subsystems/swerve/SwerveCommandsBuilder.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/drive/DriveRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/encoder/EncoderFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerFactory.java
  src/main/java/frc/robot/subsystems/swerve/factories/modules/steer/SteerRealConstants.java
  src/main/java/frc/robot/subsystems/swerve/factories/swerveconstants/RealSwerveConstants.java
  src/main/java/frc/robot/superstructure/Superstructure.java
  src/main/java/frc/robot/superstructure/Timeouts.java
  src/main/java/frc/robot/superstructure/Tolerances.java
  src/main/java/frc/robot/vision/limelights/LimeLightConstants.java
  src/main/java/frc/utils/alerts/Alert.java
Labels: A-SMALL-PR, needs-robot-testing, needs-simulation-testing
